textarea {
   resize: none;
}

.overlay {
    display:inline-block;   
    position:relative;
}

.overlay span {
    display:inline-block;
    position:absolute;
    top:30px;   
    left:0px;
     
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px; 
     
    background-color:rgba(0,0,0,.4);
    padding:10px 30px;
}

/* Bootstrap Css Map Fix*/ 

#map-container #map-canvas img { 
    max-width: none; 
} 

/* Bootstrap Css Map Fix*/ 

#map-container #map-canvas label {
    width: auto; display:inline; 
}