<% provide(:title, "All places") %>
<%= render "layouts/header" %>

<div class="row">  
	<div class="col-xs-12  col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    	<% if @place != nil %>
	    	<% @place.each do |place| %>
	    		<div class="panel panel-default">
  					<div class="panel-heading">
    					<h3 class="panel-title"><%= link_to place.place, place %></h3>
  					</div>
  					<div class="panel-body">
              <p><%= image_tag Instagram.media_search(place.latitude, place.longitude).first.images.standard_resolution.url , class: "img-rounded img-responsive" %> </p>

              <ul class="list-group">
                <li class="list-group-item">Description: <%= place.description %></li>
              </ul>
  					</div>
  				</div>
	        <% end %>
	    <% else %>
	        	There are now places exists!
	    <% end %>
</div>